.TodoList {
  margin-top: 20px;

  .TodoItem {
    font-size: 20px;
    padding: 10px 0px 10px 20px;
    border-radius: 5px;
    background-color: #fff;
    position: relative;
    text-align: left;
    margin: 0 auto 10px auto;
  }
  
  .icon {
    position: absolute;
    right: 5px;
  }
  
  input {
    border: none;
  }

  .checkComplete {
    position: absolute;
    right: 50px;
    top: 15px;
  }

  .crossed-line {
    text-decoration: line-through;
  }
}